$main-bg: #003366;
$white-bg: #fbfbfb;
$gray-bg: #e0e7ef;
$LGgray-bg: #eff3f7;
$black-bg: #343434;
$DKgray-bg: #6b6b6b;
$border-gray: #bfccd8;
$button-color: #c2d1e0;

$nth-margin-right: 16px;
$logo-size: 48px;
$footer-height: 112px;

$height-nav-head: 80px;
$max-screen-width: 1300px;
$size-icon: 64px;
$width-tile: 418px;
$height-tile: 274px;
